/*@media (max-width: 767px)  {

	section.main {
		> .banner > .white-banner {
			> h1 {
			font-size: 25px!important;
    		text-align: center;

			}
			> .delivery {
			font-size: 15px;
    		padding: 15px 0px 0 16px;
    		margin: 0 auto;
			}
		
		}
		.image {

		}
		>.button {
			font-size: 15px;
		}
	}


	section.brands {
		background: red;
		> .container {
			> .all-brands {
				display: flex;
				> .brand {
					flex: 1;
					width: ~'calc(100% / 4 - 40px)';
					&:not(:last-of-type) {
	    				margin-right: 0;
	    			}
	    			> .image {
	    				width: 90px;
	    				height: 39px;
	    			}
				}
			}	
		}
	}
}
@media (max-width: 480px) {
	header {
		> nav.navbar > .container ul.nav {
			> li {
				font-size: 15px;
				> a {
					font-size: 15px;
				}
			}
		}
	
	}
	
	section.main {
		> .container {
			> .row {
				> .item {
					> .image {
						height: 274px;
					}
					> .button {
						font-size: 14px;
					}
				}
			}
		}
		margin-top: 0;
		> .banner > .white-banner {
			> h1 {
			font-size: 25px;
    		text-align: center;

			}
			> .delivery {
			font-size: 15px;
    		padding: 15px 0px 0 16px;
			}
		
		}
		.image {

		}
		>.button {
			font-size: 15px;
		}
	}
	section.brands {
		> .container {
			> .all-brands {
				display: block;
				> .brand {
				 //margin: 0 auto !important;
	    		//max-width: 213px;
	    		width: 100%;
	    		margin-right: 0 !important;
	    		margin-bottom: 10px;
	    			> .image {
	    				width: 120px;
	    				height: 52px;
	    			}
				}
			}	
		}

	}
		

	.map {
		.container {
			h2 {
				width: 270px;
				font-size: 23px;
			}
		}
	}

}*/

@media (max-width: 768px) {
	body {
		> header > .desktop-wrap, .container {
			width: 768px;
		}
		> header {
			> .desktop-wrap {
				> ul.menu {
					font-size: 15px;
					> li.item {
						padding: 0 10px;
					}
				}
				> .head {
					flex-wrap: wrap;
					> .logo {
						padding: 0;
						margin: 0 259px 30px 259px;
					}
					> .empty {
						display: none;
					}
					> .email-wrap {
						text-align: right;
					}
					> .button-wrap {
						padding: 0;
						margin: 30px 259px 0 259px;
						border-left: none !important;
					}
				}
			}
		}
		> .container {
			> .banner {
				h1 {
					font-size: 22px;
				}
				.delivery {
					font-size: 16px;
				}
				img {
					display: none;
				}
				.button {
					display: none;
				}
			}
			> .items {
				> h3 {
					font-size: 24px;
				}
				> ul.list {
					padding: 0 139px 0 169px;
					> li.item {
						max-width: 200px;
					}
				}
			}
			> .about {
				> h3 {
					font-size: 24px;
				}
				> .wrap {
					> .video {
						display: none;
					}
				}
			}
			> .brands {
				> h3 {
					font-size: 24px;
					width: 60%;
				}
				> ul.brands-list {
					> li.brand {
						&:not(:nth-of-type(5n)) {
							margin-right: 0;
						}
						> img {
							width: 130px;
						}
					}
				}
			}
			> .location {
				> h3 {
					font-size: 24px;
				}
			}
		}
	}
	footer  {
		> .footer-wrap {
			display: flex;
    		flex-direction: column;
    		margin: 0 auto;
    		padding-left: 24px;
		}

	}
}
@media (max-width: 320px) {
	body {
		> .container {
			max-width: 320px;
			padding-right: 0;
			padding-left: 0;
			> .banner {
				> .banner-inner {
					width: 100%;
					> h1 {
						font-size: 24px;
					}
					> .delivery {
						font-size: 15px;
							> img {
	    					display: none;
						}
					}
					
					> .button {
						display: block;
					}
				}
			}
			> .items {
				max-width: 320px;
				> h3 {
					font-size: 12px;
					width: 47%;
				}
				> ul.list {
					//padding: 0 139px 0 169px;
					flex-wrap: wrap;
					margin: 0 auto!important;
				    padding: 0!important;
				    max-width: 320px!important;
					> li.item {
						max-width: 200px!important;
						>.button {
							padding: 10px 23px!important;
    						font-size: 12px!important;
						}
					}
				}
			}
			> .about {
				> h3 {
					font-size: 12px;
					width: 40%;
				}
				> .wrap {
					> .video {
						display: none;
					}
				}
			}
			> .brands {
				max-width: 320px;
				> h3 {
					font-size: 12px;
					width: 78%;
				}
				> ul.brands-list {
					max-width: 200px;
					margin: 0 auto;

					> li.brand {
						flex-wrap: wrap;


						//&:not(:nth-of-type(5n)) {
							//margin-right: 0;
						//}
						> img {
							max-width: 130px;
						}
					}
				}
			}
			> .location {
				max-width: 320px;
				> h3 {
					font-size: 12px;
					width: 48%;
				}
			}
		}
	
		footer {
			max-width: 320px;
			> .footer-wrap {
				display: flex;
	    		flex-direction: column;
	    		margin: 0 auto;
	    		padding-left: 24px;
	    		> .right {
	    			> a {
	    				display: none;
	    			}	
				}
			}
		}
	}
}